/*@charset "utf-8";*/
/* esto es un comentario */

body.ImgFondo2 {
  background-image: url("Ajustar.jpg");
	background-size: cover;
}

body.ImgFondo3 {
  background-image: url("Chicos-L3.png");
	background-position: center;
  background-repeat: no-repeat;
	background-color: khaki;
}

marquee {
	/*height: 50px;*/
	background-color: black;
	color: Cyan;
	border: 5px solid Blue;
	background-image: url(GIF-Animado1.gif);
	background-position: center;
  background-repeat: no-repeat; 
}

div.Div1 {
	float:left;
	border: 10px solid Blue; 
	background-image: linear-gradient(red, yellow, green);
	width: 45%;
	height: 290px;
	text-align: left;
	color: DarkViolet;
	font-size: 20px;
	font-family: Verdana;
	font-style: Italic;
	padding-left: 50px;
	overflow:scroll;
}

div.Div2 {
	float:right;
	border: 10px solid yellow; 
	background-image: linear-gradient(green, yellow, red);
	width: 45%;
	height: 290px;
	text-align: center;
	color: Blue;
	font-size: 20px;
	overflow:scroll;
}

div.Div3 {
	position: absolute;
	background-image: radial-gradient(red, yellow, green);
	top: 200px;
	left: 20%; 
	width:60%; 
	height:180px;
	/*overflow:scroll;*/
	border: 10px solid red; 
	background-color: Ivory;
	text-align: center;
	color: Peru;
	font-size: 16;
}

div.Div4 {
	float:left;
	border: 10px solid Blue; 
	background-image: radial-gradient(red, yellow, green);
	width: 290px;
	height: 290px;
	text-align: left;
	color: DarkViolet;
	font-size: 20px;
	font-family: Verdana;
	font-style: Italic;
	padding-left: 50px;
	overflow:scroll;
}

p
{
	/* Estilo definido para TODOS los tags P y h6 */ 
	/* excepto a los que se les defina un estilo especifico */
	letter-spacing:3px; 
	font-style: Italic;
	font-weight: bold;
	font-size:18px; 
	color: Blue;
}

table
{
	color: LightSalmon;
	font-size: 20px;
	font-family: Verdana;
	font-style: Italic;
}

th
{
	color:FireBrick;
}



/*----------------------------------------------------*/


/*
https://www.w3schools.com/cssref/pr_background-image.asp
https://carontestudio.com/blog/como-poner-una-imagen-de-fondo-en-html/

*/
